# i = 12 #Number without a decimal is Integer
f = 10.10 #Numebr with decimal is float
x = 2+3j #number with real and imaginary value- complex number

print(i,f,x)

# Identifying the data types

In [3]:
print(type(i))
print(type(f))
print(type(x))

<class 'int'>
<class 'float'>
<class 'complex'>

# Types of operators

In [5]:
#Arithmetic operators
#Sample code

x = 20
y = 5

#Additional operator
print('Addition of x+y =',x+y)

#subtraction operator
print('Addition of x-y =',x-y)

#Multiplication operator
print('Addition of x*y =',x*y)

Addition of x+y = 25
Addition of x-y = 15
Addition of x*y = 100

In [6]:
#Note, when multiplying the float and integer value the result will be float
j = 3*1.5
print(j)
print(type(j))

4.5
<class 'float'>

In [1]:
x = 10
y = 3

#float Division operator
print('float of x/y =',x/y)

#integer Division operator
print('integer of x//y =',x//y)


#integer Division for negative value
print('integer division of negative number=',-10//3)

float of x/y = 3.3333333333333335
integer of x//y = 3
integer division of negative number= -4

In [2]:
x = 5
y = 2

#modular operator
print('modular of x%y =',x%y)

modular of x%y = 1

In [4]:
#exponentiation operator
x = 5
y = 2
print('Exponentiation of x to the power y =',x**y)

Exponentiation of x to the power y = 25

# Comparison operator

In [6]:
#SAmple code for comparison operator
a = 50
b = 30

print('{} > {}'.format(a,b),a>b)

50 > 30 True

In [8]:
# comparison code
a = 50
b = 30

#Greater than
print('{} > {}'.format(a,b),a>b)

#Less than
print('{} < {}'.format(a,b),a<b)

#Equal to
print('{} == {}'.format(a,b),a==b)

#Not equal to
print('{} != {}'.format(a,b),a!=b)

#Greater than or equal to
print('{} >= {}'.format(a,b),a>b)

#Less than or equal to
print('{} <= {}'.format(a,b),a<=b)

50 > 30 True
50 < 30 False
50 == 30 False
50 != 30 True
50 >= 30 True
50 <= 30 False

# Logical Operators

In [ ]:
#And or Not

In [19]:
#Logical operator code

a = True
b = False

x = 50
y = 100

# or operator
print('a or b',a or b)
print(x==y or x<y)

print("**************")

# And operator
print('not a is',not a)
print(not x==y)
print(not x<y)

print("**************")

#And operator
print('a and b',a and b)
print(x==y and x<y)

a or b True
True
**************
not a is False
True
False
**************
a and b False
False

# Augmented Assignment operators

In [ ]:
# Assignment =
# Additional assignment +=
# Subtractional assignment -=
# Multiplication assignment *=
# Float division assignment /=
# Integer division assignment //=
# Modulas or remainder assignment %=
# Exponent assignment **=

In [5]:
# Simple expression
i = 1
i = i + 1
print('simple expression value is',i)

# Additional assignment
j = 1
j +=1 # Thsis means j = j+1
print('Additional expression value is',j)

# Minus assignment
k = 10
k -=5 # Thsis means j = j+1
print('Minus expression value is',k)

# Multiplication assignment
l = 3
l *=3 # Thsis means j = j+1
print('Multiplication expression value is',l)

simple expression value is 2
Additional expression value is 2
Minus expression value is 5
Multiplication expression value is 9

# Bitwise Operators

In [6]:
#Bitwise are used to compare(Binary)numbers. It works on bit by bit operation
# & = AND
# | = OR
# ^ = XOR
# ~ = NOT
# >> = Signed right shift
# << = Zero fill left Shift

Binary Number

Method to convert a number to binary number
syntax: '{0:08b}'.format(number)
    
Where,
{} - places a variable into a string
0 - takes a variable at argument position 0

In [8]:
#code sample

a = 17
b = 10

print("Binary number for {0} is {0:08b}".format(a))
print("Binary number for {0} is {0:08b}".format(b))

Binary number for 17 is 00010001
Binary number for 10 is 00001010

In [16]:
# Binary AND - sets each bit to 1 if both bits are 1
# 00000000
print('Binary AND value is',a&b)

#Binary OR - sets each bit to 1 if one of two bits is 1
#00011011
print('Binary OR value is',a|b)

#Binary XOR - sets each bit to 1 if only one of two bits is 1
#00011011
print('Binary XOR value is',a^b)

#Binary ones complement - Inverts all the bits
#11101110
print('Binary Ones complement is',~a)

#Binary shift right
print('Binary Right Shift is',a>>2)

#Binary shift left
print('Binary Left Shift is',a<<2)

Binary AND value is 0
Binary OR value is 27
Binary XOR value is 27
Binary Ones complement is -18
Binary Right Shift is 4
Binary Left Shift is 68

# Identity and Membership Operators

In [ ]:
Agenda:
1. what is identity operator
2. Sample code of 'is' operator
3. Sample code of 'is not' operator
4. What is membership operator
5. Sample code of 'in'operator
6. Sample code of 'not in' operator

In [ ]:
Identity Operators
# idendtity operators are used to compare the memory locations of two objects.
# 'is' and 'is not' are the identity operators in python
# Output will be boolean value (TRUE of FALSE)

#is- True if the operands are identical(refer to the same object)
#is not - True if the operands are not identical(do not refer to the same object)

In [35]:
#example1-Number using 'is' operator
x = 10
print("Memory location of x is",id(x))

y = 10
print("Memory location of y is",id(y))

print(x is y)

#example2-String using 'is' operator
a = "Python"
print("Memory location of a is",id(a))

b = "Python"
print("Memory location of b is",id(b))

print(a is b)

#example3-List using 'is' operator
N1 = [1,2,3,4]
print("Memory location of N1 is",id(N1))

N2 = [1,2,3,4]
print("Memory location of N2 is",id(N2))

print(N1 is N2)

Memory location of x is 1819451222608
Memory location of y is 1819451222608
True
Memory location of a is 1819453347888
Memory location of b is 1819453347888
True
Memory location of N1 is 1819535852224
Memory location of N2 is 1819535852736
False

In [38]:
#Is Not Example
#example1-Number using 'is not' operator

x = 10
y = 10

print(x is not y)

a = 20
b = 10

print(a is not b)

False
True

In [37]:
#example2-String using 'is not' operator
s1 = "Python"
s2 = "Python"
print(s1 is not s2)

False

In [39]:
#example3-List using 'is not' operator
N1 = [1,2,3,4]
N2 = [1,2,3,4]

print(N1 is not N2)

True

In [ ]:
Conclusion:'Is' operator will display if memory address is same and 
           'is not'operator will display true if the memory address is different. i.e exactly opposite

# Membership Operator

Memeber ship operators are used to test whether a value or variable is found in a sequence(E.G, String,List,Tuple, Set and Dictionary.
'in' and 'not in' are membership operators in python

# in- Tru if value/variable is found in sequence
# not in- Tru if value/variable is not foun in sequence

In [48]:
# 'in'code example
mylist = [1,2,3,4,"Python",10]

print(10 in mylist)
print("Python"in mylist)
print(1,2,3,4 in mylist)
print(20 in mylist)

True
True
1 2 3 True
False

In [54]:
# 'not in'code example

mylist2 = [1,12.5,"java",20]
print(10 not in mylist2)
print(1 not in mylist)

True
False

# Section3: Control Statements-If and If Else Statements

In [ ]:
Agenda:
1. Python Identation
2. Python Control Statement
3. If statement
4. Sample program 1
5. Sample program 2
6. if else statement
7. Sample program 1
8. Sample program 2

In [ ]:
# python control statements are used for decision making.
# python ahs 4 types of control statement:
1. if
2. id else
3. if elif else
4. nested if

In [55]:
1.# 'if'statement Example code
# program to check whether the user age is below 18 or not

user_age = 15

if (user_age <= 18):
    print("User is 18 or younger")

User is 18 or younger

In [58]:
2.# 'if'Example code
# program to check whether the user age is below 18 or not
# if the condition is False,the statement below the condition will be executed as it does not form part or within the condition

user_age = 20

if (user_age <= 18):
    print("User is 18 or younger")
    
print("This line will be executed always ")

This line will be executed always

In [60]:
2. #if else statement

1.# 'if else'statement Example code
# program to check whether the user age is below 18 or not
# else statement is executed when the condition is false or not met

user_age = 20

if (user_age <= 18):
    print("User is 18 or younger")
else:
    print("User is above 18")

User is above 18

In [64]:
2. #if else statement

1.# 'if else'statement Example code
# program to verify whether the number is positive or not
# else statement is executed when the condition is false or not met

num = -1 #execute twice with negative value

if num > 0:
    print("positive number")
else:
    print("Negative number")

Negative number

In [ ]:
Agenda:
1. if elif else statement
2. Sample program 1
3. Sample program 2
4. Sample program 3
5. Nested if statement
6. Sample program 1

In [ ]:
# if elif else
-it allows us to check for multiple expressions
-if the condition for if is False, it checks the condition of the next elif block and so on.
-if all the conditions are False, body of else is executed

Note: The if block can have only one else block, but it can have multiple elif blocks.

In [66]:
# if elif else
# program to verify whether the number is positive or not
num = 0

if num > 0:
    print("positive number")
elif num == 0:
    print("Number is Zero")
else:
    print("Negative number")

Number is Zero

In [72]:
# if elif else
# program to verify total number of digits
num = 100
if 9 < num < 99:
    print("Two digit number")
elif 99 < num < 999:
    print("Three digit number")
elif 999 < num <9999:
    print("Four digit number")
else:
    print("Number is not in the mentioned range")

Three digit number

In [75]:
# if elif else
# program to display the month name

month_num = 13
if month_num == 1:
    print("January Month")
elif month_num == 2:
    print("February Month")
elif month_num == 3:
    print("March Month")
elif month_num == 4:
    print("April Month")
elif month_num == 5:
    print("May Month")
elif month_num == 6:
    print("June Month")
elif month_num == 7:
    print("July Month")
elif month_num == 8:
    print("August Month")
elif month_num == 9:
    print("September Month")
elif month_num == 10:
    print("October Month")
elif month_num == 11:
    print("November Month")
elif month_num == 12:
    print("December Month")
else:
    print("Enter a valid number")

Enter a valid number

In [81]:
# Nested if statement 
#Notes: if you can avoid nested if as it may confuse other people
# Program to verify whether the number is positive or not

num = 0
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive Number")
else:
    print("Negative number")

Zero

# Python While Loop Statement

In [ ]:
Agenda:
1. Python Loop
2. While Loop
3. Sample program
4. Using Else statement with loop
5. Sample program
6. Infinite Loop
7. Sample program

In [ ]:
# Python loop allows us to execute a statement or group of statements multiple times.
# Python has two primitive loop commands:
. while loops
. for loops
# while loop- is used to iterate over a block of code as long as the test expression(condition)is true

In [85]:
# while loop
# program to print numbers in ascending order till the mentioned limit

i = 0
while i<=5:
    print(i)
    i +=1
    
print("Execution Completed!")

0
1
2
3
4
5
Execution Completed!

# Using else Statement with Loops

In [86]:
 # else statemene with loop
# program to print numbers in ascending order till the mentioned limit

i = 0
while i<=5:
    print(i)
    i +=1
else:
    print("Else statement is executed at the end as mandatory")
    
print("Execution Completed!")

0
1
2
3
4
5
Else statement is executed at the end as mandatory
Execution Completed!

# Python For Loop Statement

In [ ]:
Agenda:
1. What is For Loop?
2. For loop with else statement
3. Looping through string
4. Range function
5. iterating by sequence index
6. Nested For Loop
7. 12 Sample programs

# For Loop

In [ ]:
. For Loop in python is used to iterate over a sequence (list, tuple, string) or other iterable objects.
. Iterating over a sequence is called traversal

# Syntax

In [ ]:
for iteration_var in sequence:
    statement(s)

In [ ]:
The first item in the sequence is assigned to the iterating variable iterating_var.
Next, the statements block is executed. Each item in the list is assigned to iterating_var
statement(s) block is executed until the entire sequence is exhausted.

In [88]:
# Program to print the fruits available inside the list
fruits = ["Apple","Banana","Cherry","Mango","Pineapple","Jackfruit"]

for i in fruits:
    print(i)

Apple
Banana
Cherry
Mango
Pineapple
Jackfruit

In [89]:
# Program to print the numbers available inside the list
numbers = [1,5,10,15,45,50]

for n in numbers:
    print(n)

1
5
10
15
45
50

In [92]:
# Program to find the sum of all numbers stored in a list
#numbers = [1,5,10,15,45,50]

#sum = 0

#for val in numbers:
    sum = sum + val        #sum = 0+1 = 1, sum = 1+5 = 6
    
#Output:
#print("The sum of all the numbers in the list is",sum)

The sum of all the numbers in the list is 126

In [96]:
digits = [1,2,3,4,5,]

dig = 0

for val in digits:
    dig = dig + val
print("The total is",dig)

The total is 15

# Using else statement with Loops

In [ ]:
If the else statement is used with a for loop, the else statement is executed when the loop
has exhausted iterating the list

In [1]:
# Program to print the numbers available inside the list using else statement
numbers = [1,5,10,15,45,50]

for n in numbers:
    print(n)
else:
    print("No items left")

1
5
10
15
45
50
No items left

# Looping through a String

In [99]:
# Program to print each character of a string

for i in "python":
    print(i)

p
y
t
h
o
n

# The range()function

In [ ]:
# This a very important topic:
- We can generate a sequence of numbers using range()function
- We can also define the start,stop and step size as range (start,stop,step size). step size defaults to 1 if not provided
- This function does not store all the values in memory, it would be inefficient,
so it remembers the start,stop,step size and generates the next number on the go.

In [2]:
#Program to generate 10 numbers starting from 0-9 using range function
print(range(10))

range(0, 10)

In [4]:
# Program to display the numbers using range function
for x in range(5):
    print(x)

0
1
2
3
4

In [6]:
# Program to display the numbers between two values using range function
for x in range(2,6):
    print(x)

2
3
4
5

In [7]:
# Program to display the numbers between two values using step size
for x in range(2,10,2):
    print(x)

2
4
6
8

# Iterating by sequence index

In [8]:
# An alternative way of iterating through each items is by index offset into the sequence itself
# Program to iterate through a list using indexing

fruits = ["Apple","Banana","Cherry","Mango","Pineapple","Jackfruit"]

for index in range(len(fruits)):
    print('Fruit name is :',fruits[index])

Fruit name is : Apple
Fruit name is : Banana
Fruit name is : Cherry
Fruit name is : Mango
Fruit name is : Pineapple
Fruit name is : Jackfruit

In [9]:
# A list of fruits
fruits = ["Apple","Banana","Cherry","Mango","Pineapple","Jackfruit"]

## read fruits list and enumarate into index and value
# Enumarate() method adds a counter to an iterable and returns it in a form of enumerate object.

for index,value in enumerate(fruits):
    print(index,value)
    
# print ('fruit index is',index,'and fruit name is :',value)

0 Apple
1 Banana
2 Cherry
3 Mango
4 Pineapple
5 Jackfruit

# Nested For Loop

In [ ]:
Python programming allows to use one for loop inside another for loop

In [13]:
# Nested for loop example

for i in range(1,4):
    for b in range(1,4):
        print(i,b)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [15]:
# Nested for loop example

adj = ["Red","Big","Tasty"]
fruits = ["Apple","Banana","Cherry",]

for d in adj:
    for s in fruits:
        print(d,s)

Red Apple
Red Banana
Red Cherry
Big Apple
Big Banana
Big Cherry
Tasty Apple
Tasty Banana
Tasty Cherry

# Python Break and Continue Statement

In [ ]:
Agenda:
-What is python break statement
-Break statement using while loop
-Break statement using for loop
-Break statement using nested for loop
-What is python continue statement
-ontinue statement using while loop

# Python Break statement

In [ ]:
- Break statement allows to breakout out of the loop.
- Break statement can be used in both while and for loops.

# Example

In [17]:
# Program to print the fruits available inside the list
fruits = ["Apple","Banana","Cherry","Mango","Pineapple","Jackfruit"]

for i in fruits:
    print(i)
    if i == "Mango":
        break

Apple
Banana
Cherry
Mango

In [20]:
# Program to print the numbers available inside the list
numbers = [1,5,10,15,45,50]

for n in numbers:
    print(n)
    if n == 45:
        break

1
5
10
15
45

In [27]:
# program to print numbers in ascending order till the mentioned limit

i = 0
while i<=10:
    print(i)
    i +=1
    if i == 7:
        break

0
1
2
3
4
5
6

In [ ]:
Note: If you are using nested loops, the break statement stops the execution of the innermost loop and
    start executing the next line of code after the block.

In [31]:
# Nested for loop example without break statement 

for i in range(1,3):
    for b in range(1,4):
        print(i,b)

1 1
1 2
1 3
2 1
2 2
2 3

In [33]:
# Nested for loop with break statement 

for i in range(1,3):
    ### Inner for loop ###
    for b in range(1,3):
        print(i,b)
        if i == 2 and b == 2:
            break

1 1
1 2
2 1
2 2

# Continue Statement

In [ ]:
- The continue statement rejects all the remaining statements in the current iteration of the loop-
and moves the control back to the top of the loop.
- The continue statement can be used both in while and for loops.

# Example

In [37]:
# program to print numbers in ascending order till the mentioned limit

i = 0
while i<=10:
    i +=1
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10
11

In [38]:
# Pring even numbers present in a list
numbers = [1,2,4,5,6,9,20,23,36]

for num in numbers:
    if num % 2 != 0:
        continue
    print(num)

2
4
6
20
36

# Section 4: Python Data Types String and List

In [ ]:
Agenda:
- What is a String
- How to define a string
- how to access string with sample programs
- What is negative slicing
- What is index out of range
- Types of index error

# What is a Data type?

In [ ]:
It is an attribute that tells what kind of data that value or variable can have it.
Example:
rollnumber = 1234 # is integer
name = # "Anand" # string
narks = 80.5 # float

# Standard Data Types

In [ ]:
Python has five standard data types-
1. Numbers
2. Strings
3. List
4. Tuple
5. Dictionary

# Strings

In [ ]:
- A string is a sequence of characters.
- It is represented by either single quotation marks,or double quotation marks
- Even triple quotes can be used in python but generally used to represent multiline strings and docstrings.

Note: Python does not have any seperate data type for characters meaning 'Single letters',
so they are represented as a single character string.

In [41]:
# How to create a String

singlequote = 'Python String'
print(singlequote)

doublequote = "Programming Language"
print(doublequote)

# Triple quotes string can extend multiple lines
triplequotes = """Vinoth is the best python
                  intructor ever and teaching well"""
print(triplequotes)

Python String
Programming Language
Vinoth is the best python
                  intructor ever and teaching well

# Accessing values in Strings (Slicing)

In [ ]:
- We can access individual characters using indexing and a range of characters using slicing.
- Index starts from 0
- Leftto right direction

In [7]:
myString = "Python for machine learning"

#print first character
print(myString[0])

#slicing 11th to 18th characters
print(myString[11:18])

#Using the default values - Use it as per the requirement

print(myString[:])
print(myString[11:])
print(myString[:11])

P
machine
Python for machine learning
machine learning
Python for

# Negative Indexing

In [ ]:
- Python allows negative indexing for its sequences.
- Index starts from -1
- Right to left direction
- The index of -1 refers to the last item, -2 to the second last item and so on

In [8]:
myString2 = "Python for automation"

#print first character
print(myString2[-1])

#slicing 11th to 18th characters
print(myString2[11:18])

#Using the default values - Use it as per the requirement

print(myString2[:])
print(myString2[11:])
print(myString2[:11])

n
automat
Python for automation
automation
Python for

# Index out of the range

In [ ]:
If we tru to access index out of the range or use decimal number, we will get "IndexError".
The index must be an integer, we cant use float or other types. this will result into TypeError.
Python allows negative indexing for its sequences.

In [3]:
# Sample code for IndexError
myString3 = "Python"
print(myString3[6])

#Note: it gives the IndexError message!

IndexError: string index out of range

In [4]:
# Sample code for TypeError
print(myString3[1.5])

TypeError: string indices must be integers

# Python String Part 2

In [ ]:
- How to update a String
- How to delete a String
- Important String Operations
- String Comparison
- String Membership Operator
- Iterating String using for loop

# How to change or update a string?

In [ ]:
Strings are immutable. This means that elements of a string cannot be changed once it has been assigned.
We can simply reassign different strings to the same name.

In [ ]:
# Creating a string and checking the memory address
str1 = "Python"
print(str1)
print("Memory location before update",id(str1))

# Trying to modify a string
str1 += "Tutorials"
print(str1)
print("Memorylocation after update",id(str1))

# How to delete a String?

In [ ]:
- We cannot delete or remove characters from a string.
- We can delete a string entirely using the keyword "del"

In [ ]:
# Code to delete complete string
del myStr7

# String Operations

# Concatenation of two or more strings

In [ ]:
- Joining one of two or more strings into a single one is called concatenation.
- The + operator does this in python. Simply writing tow strings literals together also concatenates them.
- The * operator can be used to repeat the string for a given number of times.

In [13]:
a1 = "Hello "
a2 = "Brother "

#concatenation of 2 strings
print(a1 + a2)

#Repeat strings many times
print(a1 * 3)

Hello Brother
Hello Hello Hello

# Ord() and chr() Functions

In [14]:
# ord() - function returns the ASCII code of the character
ch = 'b'
print(ord(ch))

98

In [16]:
# chr() - function returns character represented by a ASCII number
print(chr(97))
print(chr(65))
print(chr(98))

a
A
b

# String Comparison

In [ ]:
- You can use ( >, <, <=, >=, ==, !=) to compare strings.
- Python compares string lexicographically i.e. using ASCII value of the characters.

In [22]:
# Sample code for string comparison

print("Python" == "Python")
print("PYTHON" == "Python")
print("Python" >= "Python")
print("Python" >= "PYTHON")
print("PYTHON" >= "Python")

True
False
True
True
False

# String Membership Operator

In [24]:
# Sample code for 'in' operator
asd = " All the best"
print('best' in asd)

#Sample code for 'not in' operator
asd = "All the best"
print('go'not in asd)

True
True

# Iterating String using for loop

In [26]:
# Program to print each character of a string
for d in "Python":
    print(d)

P
y
t
h
o
n

# Python String Functions or Methods

In [ ]:
Agenda:
- 17 python methods

# String Functions or Methods

In [30]:
#1. Strip() method removes any whitespace from the beginning or the end
St = "     Welcome to python session"
print(St) #print with space
print(St.strip())

     Welcome to python session
Welcome to python session

In [31]:
#2. Len() method returns the length of a string
St2 = "Python string length"
print("Length of the string is",(len(St)))

Length of the string is 30

In [34]:
#3. Lower() method returns the string in lower case
St3 = "WELCOME"
print(St3.lower())

welcome

In [38]:
#4. isLower() method checks whether string is in lower case of not
St4 = "welcome"
print(St4.islower())

True

In [39]:
#5. Upper() method returns the string in upper case
St5 = "welcome"
print(St5.upper())

WELCOME

In [41]:
#6. isUpper() method Checks whether string is in upper case of not
St6 = "WELCOME"
print(St6.isupper())

True

In [42]:
#7. isalpha() method check Checks if all Characters are Alphabets
St9 = "Python"
St10 = "Python123"
St11 = "123"
St12 = "Python123@#@#"
print(St9.isalpha())
print(St10.isalpha())
print(St11.isalpha())
print(St12.isalpha())

True
False
False
False

In [43]:
#8. isdigit() method check whether string is Checks Digit Characters 
St9 = "Python"
St10 = "Python123"
St11 = "123"
St12 = "Python123@#@#"
print(St9.isdigit())
print(St10.isdigit())
print(St11.isdigit())
print(St12.isdigit())

False
False
True
False

In [44]:
#9. isalnum() method check whether string is Checks Alphanumeric Character.(combination of alphabets and numbers)
St9 = "Python"
St10 = "Python123"
St11 = "123"
St12 = "Python123@#@#"
print(St9.isalnum())
print(St10.isalnum())
print(St11.isalnum())
print(St12.isalnum())

True
True
True
False

In [50]:
#10. count() method returns the number of occurences of a substring in the given string. 
#string = "Python is easy to learn to earn a high salary."
string = "Python is easy to learn.This is also called as easy programming language"
substring = "is"

print("The count is:",string.count(substring))

The count is: 3

In [55]:
#11. join() method returns a string concatenated with the elements of an iterable.
string1 = '-'
string2 = '123456'

print('string1.join(string2):',string1.join(string2))

string1.join(string2): 1-2-3-4-5-6

In [59]:
#12. join() method breaks up a string a the specified separator and returns a list of strings.
# splits at space
st1 = 'Welcome to pyhon class'
print(st1.split())

st2 = "Samuel,Heaven,Nkanyane"
print(st2.split(','))

st3 = "1212:2323:3434:4545"
print(st3.split(':'))

['Welcome', 'to', 'pyhon', 'class']
['Samuel', 'Heaven', 'Nkanyane']
['1212', '2323', '3434', '4545']

In [66]:
#13. Find() method returns the index of first occurence of the subtring (if found).
# if not found, it returns -1
str = "Do you like programming?"
#print(str.find('like'))
print("Substring 'like' at index':",str.find('like'))
# if you want to find a word that is not in the string it will print -1
print(str.find('Hai'))

Substring 'like' at index': 7
-1

In [72]:
#14 replce() method returns a copy of the string where all occurences of a substring
#is replaced with another substring.

# Character replacement

fruit = 'Appla'
print(fruit.replace('a','e'))

# String replacement
color = 'Red,Rose,Yellow,Green'
print(color.replace('Rose','Blue'))

# The original string is unchanged
print('Original string:',fruit)
print('Replaced string:',fruit.replace('a','e'))

Apple
Red,Blue,Yellow,Green
Original string: Appla
Replaced string: Apple

In [73]:
#15. Sorted() method returns a sorted list from the given iterable. it sort characters in an alphabetical order.
#String
String = 'plane'
print(sorted(String))

['a', 'e', 'l', 'n', 'p']

In [77]:
#16. startswith() method returns True if a string starts with the specified prefix.
#if not, it returns False

text = "Python is easy to learn"
print(text.startswith("Python"))


#17. endswith() method returns True if a string ends with the specificied suffix.
#if not,it returns False.

print(text.endswith("learn"))

True
True

# Python Lists

In [ ]:
Agenda:
What is a list?
How to create a list?
List indexing and slicing
How to update the lists?
How to delete a lists?
Traversing list using for loop

# What is Lists?

In [ ]:
- A list is a collection which is ordered and changeable.
- Lists are MUTABLE, which means they can be changed.
- Lists are enclosed in []
- Each item in a list is separated by a comma
Eg: list1 = [1,2,3,4,5]
- Lists are collection of items (Strings, integers or even other lists)
- Each item in the list has an assigned index value.

# Creating list in python

In [84]:
# Creating an empty list
list1 = []
print(list1)

# list integers
list2 = [10,20,30,40,50]
print(list2)

#list of strings
list3 = ["Python","Java","C"]
print(list3)

# list of different datatypes
list4 = [10,20,30,"Python"]
print(list4)

#list of list
list5 = [[10,20],["Python","DataScience"]]

[]
[10, 20, 30, 40, 50]
['Python', 'Java', 'C']
[10, 20, 30, 'Python']

# List Indexing and Slicing

In [ ]:
- We can access individual elements using indexing and a range of characters using slicing.
- Index starts from 0
- Left to right direction
#Example
    List2-10,20,30,40,50
    Index-0,1,2,3,4,5
    Negative index--5-4-3-2-1
- Index starts from -1
- Right to left direction
- The index of -1 refers to the last item, -2 to the second last item and so on

In [94]:
# list of integer
lis1 = [10,20,30,40,50]
print(lis1[2])

# print last element using negative index
print(lis1[-1])

# slicing from index 1 to index 3
print(lis1[1:3])

#other ways of slicing- use it as per requirement
print(lis1[:])
print(lis1[2:])
print(lis1[:4])

30
50
[20, 30]
[10, 20, 30, 40, 50]
[30, 40, 50]
[10, 20, 30, 40]

# Updating Lists

In [97]:
lis2 = ["Python","Java","C"]
print("list before updating the item",lis2)
lis2[2] = "R"
print("List after updating the item",lis2)

list before updating the item ['Python', 'Java', 'C']
List after updating the item ['Python', 'Java', 'R']

# Delete List Elements

In [ ]:
To remove a list element, you can use either the del statement if you know exactly which element(s)
you are deleting or the remove() method if you do not know

In [101]:
#del the item based on index position

lis3 = ["Pyhton","Java","C"]
del lis3[2]
print(lis3)

#del the full list
del lis3
print(lis3)

['Pyhton', 'Java']

NameError: name 'lis3' is not defined

# Traversing list using for loop

In [104]:
#Loop through a list
Month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

for element in Month:
    print(element)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

# Python Lists Methods Part1

In [ ]:
Agenda:
- 10 List Methods

# 1. Concatenation

In [105]:
# "+" It concatenates two list, list1 and list2
List1 = ["Vinoth","Anand","Kuruman"]
List2 = ["Thabang","Thabo"]
Finallist = List1 + List2

print(List1)
print(List2)
print(Finallist)

['Vinoth', 'Anand', 'Kuruman']
['Thabang', 'Thabo']
['Vinoth', 'Anand', 'Kuruman', 'Thabang', 'Thabo']

# 2. Length

In [107]:
# Length of sequence, i.e. the number of elements in the list.
List1 = [2,4,5,6,8,9,12,24,34,45,100,222]
print("Length of the list is",len(List1))

Length of the list is 12

# 3. Repetition

In [108]:
# copies of list concatenated
List1 = ["Python"]
print(List1 * 5)

['Python', 'Python', 'Python', 'Python', 'Python']

# 4. Membership

In [110]:
# Sample code for 'in' operator - True if element x is in the list.
List1 = [23,34,45,56,]
print(23 in List1)

# Sample code for 'not in' operator - True if element x is not in the list.
print(99 not in List1)

True
True

# 5. Smallest number in the list

In [112]:
# Smallest element in list.
List1 = [23,34,45,56,]
print("The Smallest number in the list is",min(List1))

The Smallest number in the list is 23

# 6. Largest number in the list

In [113]:
# Largest element in list.
List1 = [23,34,45,56,]
print("The largerst number in the list is",max(List1))

The largerst number in the list is 56

# 7. Sum of all the numbers in the list

In [114]:
# Sum of all numbers in list.
List1 = [23,34,45,56,]
print("Sum of all the numbers in the list is",sum(List1))

Sum of all the numbers in the list is 158

# 8. Append

In [126]:
# It adds an element x to the end of the list and returns none.

# Appending the element
lisst1 = ["Vinoth","Kurma"]
lisst1.append("Rajesh")
print(lisst1)

#Appending the element
lisst2 = ["Age","Food"]
lisst1.append(lisst2)
print(lisst1)

['Vinoth', 'Kurma', 'Rajesh']
['Vinoth', 'Kurma', 'Rajesh', ['Age', 'Food']]

# 9. Extend

In [128]:
#Appends all the elements from one list to another list and returns None.
lisst1 = ["Vinoth","Kurma"]
lisst2 = ["Age","Food"]

lisst1.extend(lisst2)
print(lisst1)

['Vinoth', 'Kurma', 'Age', 'Food']

# 10. Insert

In [131]:
# Inserts an element x at a given index.
# Note: The first element in the list has index 0 and returns None..

List1 = [1,2,3,4,6,7,8,9,10]
List1.insert(4,5) #location, value as arguments
print(List1)

List2 = ["Thabang","Thabo"]
List2.insert(2,"Sphola")
print(List2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Thabang', 'Thabo', 'Sphola']

# Python Lists Methods Part2

In [ ]:
Agenda:
- 5 List Methods
- String Split to create a list
- List Comprehensions

# 11. Remove

In [133]:
#Removes the first occurence of elements x from the list and returns None
list1 = [1,2,3,4,5,6,7,8,]
list1.remove(5) # it will remove first occurence of '5' in a given list
print(list1)

list2 = ["Thabang","Thabo"]
list2.remove("Thabo")
print(list2)

[1, 2, 3, 4, 6, 7, 8]
['Thabang']

# 12. Pop

In [135]:
#Removes the element at the given position and returns it. The paramemter i is option...
# If it is not specified, pop() removes and returns the last element in the list.

list1 = [1,2,3,4,5,6,7,8,]
a = list1.pop()
print("The value removed is",a)
print(list1)

list2 = ["Thabang","Thabo"]
a = list2.pop(0)
print("The name removed is",a)
print(list2)

The value removed is 8
[1, 2, 3, 4, 5, 6, 7]
The name removed is Thabang
['Thabo']

# 13. Count

In [136]:
# Returns the number of times element x appears in the list.
numbers = [1,2,3,1,3,2,3,3]
print(numbers.count(3))

4

# 14. Reverse

In [138]:
# Reverse the list and returns None
list1 = [1,2,3,4,5,6,7,8,9,10]
list1.reverse()
print(list1)

list2 = ["Thabang","Thabo"]
list2.reverse()
print(list2)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['Thabo', 'Thabang']

# 15. Sort

In [ ]:
- The sort()method sorts the elements of a given list in a specific order - Ascending or Descending.
- By default in ascending order
- The original list is not changed.

In [142]:
# vowels list
vowels = ['e','a','u','o','i']

#sort the vowels
vowels.sort()

#print vowels
print(vowels)

['a', 'e', 'i', 'o', 'u']

In [141]:
#Setting reverse = True sorts the list in a descending order

# vowels list
vowels = ['e','a','u','o','i']

#sort the vowels
vowels.sort(reverse=True) # Reversing the vowels

#print vowels
print(vowels)

['u', 'o', 'i', 'e', 'a']

In [143]:
# Numbers
# sort the vowels
list1 = [1,2,3,4,5,6,7,8,9,10]
list1.sort(reverse=True)  # Sort the vowels 
print(list1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# String split to create a list

In [144]:
# split () method breaks up a string at the specified separator and returns a list of strings.

# splits at space
st1 = 'Welcome to pyhon class'
print(st1.split())

# splits at ','
st2 = "Samuel,Heaven,Nkanyane"
print(st2.split(','))

# splits at ':'
st3 = "1212:2323:3434:4545"
print(st3.split(':'))

['Welcome', 'to', 'pyhon', 'class']
['Samuel', 'Heaven', 'Nkanyane']
['1212', '2323', '3434', '4545']

# List comprehensions

In [ ]:
- List comprehension is an elegant and concise way to to create new list from an existing list in python.
- List comprehension consists of an expression followed by for statement inside square brackets.

In [145]:
# Without list comprehension
cube = []
for i in range(10):
    cube.append(i**2)
print(cube)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [146]:
# Using list comprehension
cube = [i**2 for i in range(10)]
print(cube)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [148]:
# print the even numbers

list1 = [x for x in range(20) if x % 2 == 0]
print("The even numbers in a list are",list1)

list2 = [x for x in range(20) if x %2 != 0]
print("The odd numbers in a list are",list2)

The even numbers in a list are [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
The odd numbers in a list are [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Section 5: Python Data Types- Tuples and Dictionaries

In [ ]:
Agenda:
- What is a Tuples
- How to create Tuples
- List indexing and Slicing
- How to update the Tuples
- How to delete the Tuples
- Traversing Tuples using For loop

# What is Tuples?

In [ ]:
- A Tuple is a collection which is ordered and unchangeable.
- Tuples are very similar to list, but once a tuple is created, you cannot add, delete, replace,
reorder elements. i.e. IMMUTABLE
- Tuples are enclosed parentheses ()
- Each item in a Tuple is separated by a comma
Eg: tuple1 = [1,2,3,4,5]
- Tuples are collection of items (Strings, integers or even other lists)
- Each item in the Tuples has an assigned index value.

# Creating Tuples in python

In [158]:
# Create an empty Tuple
tuple1 = ()
print("Empty Tuple",tuple1)

# Tuple having integers
tuple2 = (1,2,3,4,5)
print("Tuples with Numbers",tuple2)

#Tuples having strings
tuple3 = ("Vinoth","James","Thabo")
print("Tuples with string",tuple3)

#Nested Tuples
tuple4 = ((12,23),("Java","python"))
print("Nested tuple",tuple4)

# Tuples of different data types
tuple5 = (12,12.4,'python',(12,12))
print("Tuples of different data types is",tuple5)

Empty Tuple ()
Tuples with Numbers (1, 2, 3, 4, 5)
Tuples with string ('Vinoth', 'James', 'Thabo')
Nested tuple ((12, 23), ('Java', 'python'))
Tuples of different data types is (12, 12.4, 'python', (12, 12))

In [2]:
# Note:
# parenthesis without comma at the end
name = ('python')
print(type(name))

# parenthesis with comma at the end
name2 = ('python',)
print(type(name2))

<class 'str'>
<class 'tuple'>

# List indexing and Slicing

In [ ]:
- We can access individual elements using indexing and a range of characters using slicing.
- Index starts from 0
- Left to right direction
#Example
    List2-10,20,30,40,50
    Index-0,1,2,3,4,5
    Negative index--5-4-3-2-1
- Index starts from -1
- Right to left direction
- The index of -1 refers to the last item, -2 to the second last item and so on

In [3]:
# tuple integer
tuple1 = [10,20,30,40,50]
print(tuple1[2]) #print second element

# print last element using negative index
print(tuple1[-1])

# slicing from index 1 to index 3
print(tuple1[1:3])

#other ways of slicing- use it as per requirement
print(tuple1[:])
print(tuple1[2:])
print(tuple1[:4])

30
50
[20, 30]
[10, 20, 30, 40, 50]
[30, 40, 50]
[10, 20, 30, 40]

# Updating Tuples

In [ ]:
Tuples are immutable which means you cannot update or change the values of tuple elements

In [10]:
# Will get TypeError
tuple1 = ("Python","Java","C")
tuple2[2] = "R"
print(tuple2)

#Note: you get an error because tuples cannot be updated!

IndexError: list assignment index out of range

# Delete Tuple Elements

In [ ]:
- Removing individual tuple elements is not possible
- To explicitly remove an entire tuple, just use the del statement

In [12]:
#Delete a particular item
tuples2 = ("Pyhton","Java","C")
del tuples2[2]
print(tuples2)

#Note: it will give you an error as it does not support the item delete

TypeError: 'tuple' object doesn't support item deletion

In [13]:
#del the full tuple
tuples2 = ("java","C")
del tuples2
print(tuples2)

#Note: The entire tuple will be deleted

NameError: name 'tuples2' is not defined

# Traversing Tuple using for loop

In [14]:
#Loop through a tuple
Month = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

for element in Month:
    print(element)

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug
Sep
Oct
Nov
Dec

# Tuple Methods

In [ ]:
Agenda:
10 Tuples methods
How to convert other data type to tuples
Advantages of tuples over lists

# 1. Concatenation

In [16]:
# "+" It concatenates two tuples, tuple1 and tuple2
tuples1 = ("Vinoth","Anand","Kuruman")
tuples2 = ("Thabang","Thabo")
Finallist = tuples1 + tuples2

print(tuples1)
print(tuples2)
print(Finallist)

('Vinoth', 'Anand', 'Kuruman')
('Thabang', 'Thabo')
('Vinoth', 'Anand', 'Kuruman', 'Thabang', 'Thabo')

# 2. Length

In [18]:
# Length of sequence, i.e. the number of elements in the tuple.
tuple1 = [2,4,5,6,8,9,12,24,34,45,100,222]
print("Length of the tuple is",len(tuple1))

Length of the tuple is 12

# 3. Repetition

In [19]:
# copies of tuples concatenated
tuple1 = ["Python"]
print(tuple1 * 5)

['Python', 'Python', 'Python', 'Python', 'Python']

# 4. Membership

In [20]:
# Sample code for 'in' operator - True if element x is in the tuple.
tuple1 = [23,34,45,56,]
print(23 in tuple1)

# Sample code for 'not in' operator - True if element x is not in the tuple.
print(99 not in tuple1)

True
True

# 5. Smallest number in a tuple

In [22]:
# Smallest element in tuple.
tuple1 = [23,34,45,56,]
print("The Smallest number in the tuple is",min(tuple1))

The Smallest number in the tuple is 23

# 6. Largest number in a tuple

In [24]:
# Largest element in tuple.
tuple1 = [23,34,45,56,]
print("The largerst number in the tuple is",max(tuple1))

The largerst number in the tuple is 56

# 7. Sum of all the numbers in a tuple

In [26]:
# Sum of all numbers in tuple.
tuple1 = [23,34,45,56,]
print("Sum of all the numbers in the tuple is",sum(tuple1))

Sum of all the numbers in the tuple is 158

# 8. Count

In [29]:
# Returns the number of times element x appears in the tuple.
numbers = [1,2,3,1,3,2,3,3]
print("The number of times the element occured is",numbers.count(3))

The number of times the element occured is 4

# 9. Index

In [31]:
# index () method searchse for the given element in a tuple and returns its position
# However, if the element is present more than once, the first/smallest position is returned

#integer example
numbers = (1,2,1,1,3,4,5)
print("The idex value of given integer is",numbers.index(1))

names = ('vinoth','Nathi','Musa','Thabo')
print("The index value of given string is",names.index('Musa'))

The idex value of given integer is 0
The index value of given string is 2

# 10. Sort

In [ ]:
- The sort()method sorts the elements of a given tuple in a specific order - Ascending or Descending.
- By default in ascending order
- The original tuple is not changed.

In [33]:
# sort the vowels in ascending order
vowels = ['e','a','u','o','i']
print('sorted tuples:',sorted(vowels))

sorted tuples: ['a', 'e', 'i', 'o', 'u']

In [35]:
# Setting reverse=True sorts the tuples in the descending order
vowels = ('e','a','u','o','i')
print('Sorted Tuple (in descending):', sorted(vowels,reverse=True))

Sorted Tuple (in descending): ['u', 'o', 'i', 'e', 'a']

In [37]:
# Sort the numnbers in a Ascending order
numbers = (99,23,4,1,2,5,)
print('Sorted numbers:',sorted(numbers))

Sorted numbers: [1, 2, 4, 5, 23, 99]

In [ ]:
Note: Methods that add items or remove items are not available with tuple as it is immutable

# How to create tuples using tuple()?

In [39]:
# Createing tuple from a list
tuple1 = tuple ([0,1,3,4])
print('List to tuple conversion',tuple1)

List to tuple conversion (0, 1, 3, 4)

In [41]:
# Creating tuple from a string
tuple2 = tuple(('Python'))
print('String to tuple conversion',tuple2)

String to tuple conversion ('P', 'y', 't', 'h', 'o', 'n')

In [42]:
# Creating a tuple from a dictionary
tuple3 = tuple({1: 'Vinoth', 2: 'Rama'})
print('Dictionary to tuple conversion',tuple3)

Dictionary to tuple conversion (1, 2)

# Advantages of Tuple over List

In [ ]:
- If you have data that doesnt change, implementing it as tuple will guarantee that it remains write protected
- Since tuple are immutable,iterating through tuple is faster than with list. So there is a slight perfomence boost.
- Tuples that contain immutable elements can be used as key for a dictionary. With list, this is not possible.

# Pyhton Dictionary

In [ ]:
Agenda:
What is dictionary?
How to create dictionary?
How to access elements from a dictionary?
How to access elements using Get Method?
How to add elements in a Dictionary?
How to update elements in a Dictionary?

In [ ]:
Standard Data Types

1. Numbers     rollnumber = 12345
2. String      myString = "Python for Automation"
3. List        list1 = [1,2,3,4,5]
4. Tuple       tuple1 = (1,2,3,4,5)
5. Dictionary

# What is Dictionary?

In [ ]:
- Dictionary is a python data type that is used to store 'key-value' pairs.
EG: employee1 = {'name': 'Vinoth','address':'Chanai','Company': 'xyz'}
- It enables to quickly retrieve,add,remove,modify,value using a key.
- Dictionary is very similar to what we call associative array or hash on other languages.
- Dictionaries are MUTABLE.
- No index value concept in dictionary

# How to create Dictionary?

In [ ]:
- Dictionaries are represented by enclosed curly braces {}
- Each key will have its value which is separated by a colon (:)
- Eacc=h items are separated by commas ,

In [46]:
# Empty dictionary
my_dict = {}
print("Empty dictionary is created",my_dict)

# Dictionary with integer keys
colors = {1:'Red',2:'Yellow',3:'Green'}
print("Dictionaries with integer keys are created",colors)

# Dictionaries with mixed keys
my_dict2 = {'name':'Vinoth',1:['Red','Blue']}
print("Dictionaries with mixed keys are created",my_dict2)

# Checking the type
print(type(my_dict))

Empty dictionary is created {}
Dictionaries with integer keys are created {1: 'Red', 2: 'Yellow', 3: 'Green'}
Dictionaries with mixed keys are created {'name': 'Vinoth', 1: ['Red', 'Blue']}
<class 'dict'>

# Note - No duplicate keys are allowed

In [ ]:
- When duplicate keys encountered during assignment, the last assigned key will be considered.

In [47]:
# Dictionary with duplicate keys
colors = {1:'Red',2:'Yellow',3:'Green',2:'Blue'}
print("Key 2 is updated with last assigned value",colors)

Key 2 is updated with last assigned value {1: 'Red', 2: 'Blue', 3: 'Green'}

# How to access elements from a dictionary?

In [ ]:
- To access dictionary elements, you can use the enclosed square brackets along with the key yo obtain its value.

In [49]:
# Access the key which is available in the dictionary
mydetails = {'name':'Vinoth','age':30, 'address': 'Sandton'}
print(mydetails['name'])
print(mydetails['address'])

Vinoth
Sandton

In [50]:
# Access the key which is not available in the dictionary- KeyError will be displayed
print(mydetails['phonenumber'])

KeyError: 'phonenumber'

# How to access the element using Get Method?

In [52]:
# Return value of key, if key not found it returns None, instead of throwing KeyError exception

#Create a dictionary
mydetails = {'name':'Vinoth','age':30, 'address': 'Sandton'}

#Access the key which is available in the dictionary
print(mydetails.get('name'))

#Access the key which is not available in the dictionary
print(mydetails.get('phonenumber'))

#Always use Get Method to access elements

Vinoth
None

# How to add elements(key) in a dictionary?

In [ ]:
- Dictionary are mutable, we can add new items or change the value of existing items using assignment operator '='
- If the key is already present, value gets updated,else a new key is added.

In [56]:
#Create a dictionary
mydetails = {'name':'Vinoth','age':30, 'address': 'Sandton'}

#Add phone number
mydetails['Phonenumber'] = '0722131234'
print(mydetails)

{'name': 'Vinoth', 'age': 30, 'address': 'Sandton', 'Phonenumber': '0722131234'}

# How to change/update existing elements(value) in a dictionary?

In [57]:
#Updating the value
mydetails['age'] = 31
print(mydetails)

{'name': 'Vinoth', 'age': 31, 'address': 'Sandton', 'Phonenumber': '0722131234'}

# Python Dictionary: Deleting and Looping

In [ ]:
Agenda:
- How to delete elements in a dictionary?
- Looping items in the dictionary
- Dictionary methods
1. len
2. Membership Operator
3. Sorted

# How to delete an element in a dictionary?

# 1. pop() Method

In [58]:
# pop() method - Remove the item from the dictionary,if the key is not found keyError will be thrown
# It will also return the removed value

# Create a dictionary
mydetails = {'name':'Vinoth','age':30, 'address': 'Sandton'}

#Remove a particular item
print(mydetails.pop('age'))
print(mydetails)

#if you try to remove a key that is not in the dictionary it will throw an error!!
#print(mydetails.pop('email'))
#print(mydetails)

30
{'name': 'Vinoth', 'address': 'Sandton'}

# 2. popitem() Method

In [59]:
# Create a dictionary
mydetails = {'name':'Vinoth','age':30, 'address': 'Sandton'}

# It removes the last item in the dictionary
print(mydetails.popitem())
print(mydetails)

('address', 'Sandton')
{'name': 'Vinoth', 'age': 30}

# 3. del() Keyword

In [60]:
# del keyword remove individual item or the entire dictionary itself.

#Sample code to delete a particular item
# Dictionary with cubes of number
cube = {1:2, 2:2, 3:4, 4:53, 5:123}

# deletea particular key
del cube[5]
print(cube)

# IF YOU WANT TO DELETE THE ENTIRE DICTIONARY
# print(cube) #it will delete the entire dictionary

{1: 2, 2: 2, 3: 4, 4: 53}

# 4. clear() Method

In [63]:
# Clear Method - All the items can be removed at once,without deleting the dictionary

# Dictionary with cubes of number
cube = {1:2, 2:2, 3:4, 4:53, 5:123}

# Remove all items
cube.clear()

print("Empty dictionary is displayed",cube)

Empty dictionary is displayed {}

# Looping items in the dictionary

In [64]:
# Dictionary with cubes of number:
cube = {1:2, 2:2, 3:4, 4:53, 5:123}
for num in cube:
    print("Cube of",num,"is",cube[num])
#This is how we implement loop in a dictionary.

Cube of 1 is 2
Cube of 2 is 2
Cube of 3 is 4
Cube of 4 is 53
Cube of 5 is 123

# 1. Length - len()

In [65]:
# Length of dictionary, i.e. the number of elements in the dictionary.

# Create a dictionary
mydetails = {'name':'Vinoth','age':30, 'address': 'Sandton'}
print("Length of the dictionary is",len(mydetails))

Length of the dictionary is 3

# 2. Membership - 'in and not in' Operator

In [66]:
# Create a dictionary
mydetails = {'name':'Vinoth','age':30, 'address': 'Sandton'}

# Sample code for 'in' operator - True if key is in the dictionary.
print('name' in mydetails)

# Sample code for 'not in' operator - True if key is not in the dictionary.
print('email' not in mydetails)

True
True

# 3. Sorted()

In [ ]:
- The sort()method sorts the elements of a given dictionary in a specific order - Ascending or Descending.
- By default in ascending order
- Sorting will be carried by taking key as reference

In [69]:
# sort the vowels in ascending order
vowels = {'e': 1,'a': 2,'u': 3,'o': 4,'i': 5}
print('sorted dictionary:',sorted(vowels))

sorted dictionary: ['a', 'e', 'i', 'o', 'u']

In [70]:
# Setting reverse=True sorts the tuples in the descending order
vowels = {'e': 1,'a': 2,'u': 3,'o': 4,'i': 5}
print('Sorted Tuple (in descending):', sorted(vowels,reverse=True))

Sorted Tuple (in descending): ['u', 'o', 'i', 'e', 'a']

# Python Dictionary Methods

In [ ]:
Agenda:
- Dictionary Methods
- keys(), values(), items()
- copy(), updated(), fromkeys()
- setdefault(), dir()
- Dictionary Comprehension

# 4. keys()

In [71]:
#Returns/displays keys available in the dictionary
# Create a dictionary
mydetails = {'name':'Vinoth','age':30, 'address': 'Sandton'}
print(mydetails.keys())

dict_keys(['name', 'age', 'address'])

# 5. Values()

In [72]:
#Returns/displays values in the dictionary as tuples
# Create a dictionary
mydetails = {'name':'Vinoth','age':30, 'address': 'Sandton'}
print(mydetails.values())

dict_values(['Vinoth', 30, 'Sandton'])

# 6. items()

In [73]:
#Return a new view of the dictionary items (key,value) as tuples
# Dictionary with cubes of number
cube = {1:2, 2:2, 3:4, 4:53, 5:123}
print(cube.items())

dict_items([(1, 2), (2, 2), (3, 4), (4, 53), (5, 123)])

# 7. copy()

In [74]:
# Return a shallow copy of the dictionary, it doesnt modify the original dictionary.

# Dictionary with cubes of number
cube = {1:2, 2:2, 3:4, 4:53, 5:123}

#cube.copy()    #this is how we do copy

dictcopy = cube.copy()

print('Original:',cube)
print('New:',dictcopy)

Original: {1: 2, 2: 2, 3: 4, 4: 53, 5: 123}
New: {1: 2, 2: 2, 3: 4, 4: 53, 5: 123}

# 8. update()

In [ ]:
- The update() method inserts the specified items to the dictionary at the end, if the value is not present.
- In case if the value is already existing, it will be updated with new value.
- The specified items can be a dictionary, or an iterable object.

In [77]:
# Inserting the new value/adding or updating a new value
#Dictionary with car details
car = {"brand":"Audi","model":"A4","year":2019}
car.update({"color":"white"})
print(car)

# Update an existing value in a variable
#Dictionary with car details
car = {"brand":"Audi","model":"A4","year":2019}
car.update({"color":"blue"})
print(car)

#Updating the existing value
#Dictionary with car details
car = {"brand":"Audi","model":"A4","year":2019}
car.update({"color":"white"})
print(car)

#Update with an iterable.
#Dictionary with car details
car = {"brand":"Audi","model":"A4","year":2019}
car.update(cost = '2000',color = 'blue')

print("Dictionary after updating",car)

{'brand': 'Audi', 'model': 'A4', 'year': 2019, 'color': 'white'}
{'brand': 'Audi', 'model': 'A4', 'year': 2019, 'color': 'blue'}
{'brand': 'Audi', 'model': 'A4', 'year': 2019, 'color': 'white'}
Dictionary after updating {'brand': 'Audi', 'model': 'A4', 'year': 2019, 'cost': '2000', 'color': 'blue'}

# 9. fromkeys()

In [ ]:
- The fromkeys() method creates a new dictionary from the given sequence of elements with a value
provided by the user.

The fromkeys() method takes two parameters:
    
1. sequence - sequence of elements which is to be used as keys for the new dictionary
2. value (Optional) - value which is set to each each element of the dictionary

In [78]:
# Creating a dicrionary from a sequence of keys with value
#vowel keys
mykeys = {'e','a','u','o','i'}
value = 'vowels'
dict.fromkeys(mykeys,value)

{'a': 'vowels', 'i': 'vowels', 'e': 'vowels', 'o': 'vowels', 'u': 'vowels'}

# 10. setdefault()

In [ ]:
The detdefault() method returns the value of a key (if the key is in dictionary). If not,
it inserts key with a value to the dictionary.

In [81]:
#Sample code - if key is not in the dictionary
employee = {'name':'Eric'}
employee.setdefault('salalry')
print(employee)

{'name': 'Eric', 'salalry': None}

In [82]:
#Sample code - if key is not in the dictionary and default_value is provided
employee = {'name':'Eric'}
employee.setdefault('company','Autopedigree')
print(employee)

{'name': 'Eric', 'company': 'Autopedigree'}

# 11. dir()

In [83]:
# Get list of all available methods and attributes of dictionary
mydict = {}
print(dir(mydict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Dictionary Comprehension

In [ ]:
- Dictionary comprehension is an elegant and concise way to create new dictionary from an iterable in python.
- It consists of an expression pair (key: value) followed by for statement inside curly baraces {}.

In [85]:
#Using dictinary comprehension

{x: x**3 for x in range(10)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [ ]:
Q. we have a list of fruits and we can use dict comprehension to create a dictionary with fruits,
the list elements as the keys and the length of each string as the values.

In [86]:
# Cretae a list of fruits
fruits = ['apple','banana','mango']


# dict comprehension to create dict with fruits name as keys
{key: len(key) for key in fruits}

{'apple': 5, 'banana': 6, 'mango': 5}

# Section 6: Python Functions

In [ ]:
Agenda:
- 5 W and 1 H Approach
- What is Python Functions?
- Syntax

# 5 W and 1 H Approach

In [ ]:
1. Why?
2. Who?
3. Where?
4. When?
5. What?
6. How?

# What is Pythonn Functions?

In [ ]:
- A function is a block of organized, reusable code that is used to perform a single, related action.
- Functions help break our program into smaller and modular chuncks. As our program grows larger and larger,
functions make it more organized and manageable.
- Functions provide better modularity for your application and a high degree of code reusing.

# Syntax of Function

In [ ]:
def function_name(parameters):
    """docstring"""
    statement(s) or coding logic
    return [expression] - Optional

# Rules for Creating Functions

In [ ]:
- Functions blocks begin with the keyword 'def' followed by the function name, parentheses and colon '():'
- Any input parameters or agurments should be placed within these parentheses. You can also define
parameters inside these parentheses. These are optional
- Function Doc string describe in brief,what a function does..This is optional
- Statement(s) or coding logic - Reusable code needs to be mentioned here.
- All the statements inside the function should be indented using equal spaces.
- The "return[expression]" statement will return a value from the function. This is optional
- A return statement with no argument is the same as return None.

# Example 1:

In [90]:
# Function to welcome User
def welcomeUser("Samuel"):
    """This function welcomes the user for python class
    """
    print("Dear"+ str(name) +", Welcome to python engineering team")

# How to call this function?

In [ ]:
To call the function we simply type the function name with appropriate

In [91]:
# Calling the function
welcomeUser("Samuel")

DearSamuel, Welcome to python engineering team

In [93]:
# Reusing the same function with different values
welcomeUser(" Abdul")
welcomeUser(" Vidya")
welcomeUser(" Arab")

Dear Abdul, Welcome to python engineering team
Dear Vidya, Welcome to python engineering team
Dear Arab, Welcome to python engineering team

In [ ]:
Note: we can call from another function, program or even the python prompt.

# Example 2:

In [98]:
# Function to check whether a number is even or odd
def verifyEvenOdd( num ):
    if(num % 2 == 0):
        print("{} is even number".format(num))
    else:
        print("{} is odd number".format(num))

In [101]:
# Calling the function
verifyEvenOdd(2)
verifyEvenOdd(3)

2 is even number
3 is odd number

# Doc String

In [ ]:
- The first string after the function header is called the docstring and is short for documentation string.
- Although optional, documentation is a good programming practice,always document your code.
- Doc string will be written in triple quotes so that docstring can extend up to multiple lines.
- This string is available to us as _doc_attribute of the function.

In [7]:
# Print doc string of the function: This will help other dev to know what the functionality is all about
print(welcomeUser.__doc__)

# Python Functions Part 2

In [ ]:
Agenda:
- Function with return value
- Scope and Life Time of Variables

# Example 3:

# Function with return value

In [ ]:
- Return statement can contain an expression which gets evaluated and the value is returned.
- If there is no expression in the statement or the return statement itself is not present inside a function,
then the function will return None Object.
- The return statement is used to exit a function and go back to the place from where it was called.

In [8]:
# Function to add two numbers and return the output
def add(x,y):
    return x+y
# Calling the function
add(10,25)

35

# Scope and Life Time of Variables

# 1.Global variables

In [ ]:
- Variables that are not bound to any function, but can be accessed inside-
as well as outside the function are called global variables.
- Lifetime of a variable is the period throughout which the variable exists in the memory.

# 2. Local variables

In [ ]:
- VAriables which are declared inside a function are called local variables.
- The lifetime of variables inside a function is as long as the function executes.
Variables are destroyed once we return from the function.

# Example 6:

In [3]:
# Code to verify the scope of global variable.

# Declaring the global variable
globalVar = "This is a global variable"

def test_life_time():
    print(globalVar) # Using global variable inside the function
    
# Calling the function
test_life_time()

# print global variable
print(globalVar) #Using global variable outside the function

#Note: Global variable can be accessed within a variable and outside a variable

This is a global variable
This is a global variable

# Example 7:

In [10]:
# Code to verify the scope of local variable.
# Declaring the local variable

def test_life_time():
    localVar = "This is a local variable"
    print(localVar)
    
# Calling the function
test_life_time()

# print local variable
print(localVar) #Using local variable outside the function

#Note: If you print a local variable outside a function it will give an error!!!

This is a local variable
This is a local variable

# Python Function Arguments

In [ ]:
Agenda:
- What is function arguments?
- Importance of function arguments
- Types of Arguments
- Default Arguments
- Keyword Arguments
- Arbitrary Arguments

# Function Arguments

# Example 1

In [19]:
# Function to welcome User with greeting message - 2 Arguments
def welcomeUser(name,message):
    """This function welcomes the user with greeting message
    """
    print("Dear "+ str(name) +", We love you!")
    
# Calling the function
welcomeUser("Samuel","We love you")

Dear Samuel, We love you!

In [20]:
# For the above function if we pass one argument
welcomeUser("Samuel")

# We can handle this error by using:
#1. Default arguments
#2. Keyword arguments
#3. Arbitrary arguments

TypeError: welcomeUser() missing 1 required positional argument: 'message'

# 1. Default Arguments

In [ ]:
- A default argument is an arguments that assumes a default value if a value is not provided-
in the function call for that argument.
- To specify default values of argument, you just need to assign a value using assignment operator '='
- It is also called positional arguments

# Example 2

In [23]:
# Function to welcome User with greeting message by providing default message
def welcomeUser(name,message = "We love you"):
    """This function welcomes the user with greeting message
    """
    print("Dear "+ str(name) +", We love you!")
    
# Calling the function
welcomeUser("Samuel")

Dear Samuel, We love you!

# Note: Default Arguments

In [ ]:
1. Any number of arguments in a fucntion can have a default value
2. Once we have a default argument, all the arguments to its right must also have default values
3. Non-default arguments cannot follow default arguments

# Example 3

In [24]:
# Function to welcome User with greeting message by providing default message
def welcomeUser(message = "We love you",name):
    """This function welcomes the user with greeting message
    """
    print("Dear "+ str(name) +", We love you!")
    
# Calling the function
welcomeUser("Samuel")

#Note it will give an error!!!

SyntaxError: non-default argument follows default argument (3580105774.py, line 2)

# 2. Keyword Arguments

In [ ]:
- Keyword arguments allows you to pass each arguments using 'name value' pairs
- When we call functions using keyword arguments, the order(position) of the arguments can be changed
- It is fixed arguments. ie the number of arguments mentioned in functions are fixed

# Example 4

In [ ]:
- '**kwargs' can be used to send multiple arguments using single keyword ie variable-length argument list
- It is similar to Dictionary concept

In [27]:
# Function to display the employee details using '**kwargs'
def employeeDetails(**user):
    """ This function is used to display the employee details
    """
    print("name:",user['name'])
    print("Age:", user['Age'])
    print("Company:", user['Company'])
    
# Calling the function
employeeDetails(name = "Samuel",Age = "37",Company = "Ilab")

name: Samuel
Age: 37
Company: Ilab

# Example 5

In [34]:
# Function to display the employee details by changing the position of arguments
def employeeDetails(**user):
    """ This function is used to display the employee details
    """
    print("name:",user['name'])
    print("Age:", user['Age'])
    print("Company:", user['Company'])
    
# Calling the function
employeeDetails(Company = "Ilab",Age = "37",name = "Samuel",)

#Note: even if you change the position of the details you will still get the same order(structure of the information)

name: Samuel
Age: 37
Company: Ilab

# Example 6

In [42]:
# Function to display the employee details
def employeeDetails(name,age,company):
    """ This function is used to display the employee details
    """
    print("Name:",name)
    print("Age:", age)
    print("Company:",company)
    
# Calling the function
employeeDetails(name="Samuel",age="37",company="Ilab")

Name: Samuel
Age: 37
Company: Ilab

# Mixing Positional and Keyword Arguments

In [ ]:
It is possible to mix positional arguments and keyword arguments, but for this positional argument-
must appear before any keyword arguments.

EG:
employeeDetails("Vinoth",age="30",company="Ilab") #Valid
employeeDetails("Vinoth",age="30","Ilab") Valid

SyntaxError: non-keyword arg after arg

# 3. Arbitrary Arguments

In [ ]:
- When the number of arguments passed into a function is dynamic, ie we do not know in advance the-
number of arguments, then it can be handled using Arbitrary Arugments.
- In the function definition we use an asterisk (*) before the parameter name to denote it ie '*args'

# Example 7:

In [44]:
# Function to welcome all the user with greeting message
def welcomeUser(*names):
    """This function welcomes the user with greeting message
    """
    print("The value entered by user",names)
    
    for name in names:
        print("Dear "+ str(name) +", Welcome to python tutorials!")
    
#Note: Here values passed as tuples - we can do any manipulation from these tuples
welcomeUser("Vinoth","James","Tshepi")

The value entered by user ('Vinoth', 'James', 'Tshepi')
Dear Vinoth, Welcome to python tutorials!
Dear James, Welcome to python tutorials!
Dear Tshepi, Welcome to python tutorials!

# Python Recursive Function

In [46]:
#Function one
def welcome_user_one():
    print("Hello user one")
welcome_user_one()

Hello user one

In [48]:
# we are going to call function 1 from function 2
def welcome_user_two():
    print("Hello user two")
    welcome_user_one()

welcome_user_two()

Hello user two
Hello user one

In [50]:
#Program to print factorial of a number using recursive
def factorial(num):
    return 1 if num == 1 else (num* factorial(num-1))

factorial(5)

120

# Advantages of recursive

In [ ]:
1. Recursive functions make the code look clean and elegant.
2. A complex task can be broken down into simpler sub-problems using recursion.
3. Sequence generation is easier with recursion than using some nested iteration.

# Disadvantages

In [ ]:
1. Sometimes the logic behind recursion is hard to follow through.
2. Recursive calls are expensive (inefficient) as they take up a lot of memory and time.
3. Recursive functions are hard to debug.